.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  font-size: 50px;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  width: 250px;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: darkgreen;
  padding: 10px;
  border-radius: 5px;
}

.loginButton:disabled {
  cursor: not-allowed;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}
