.home {
    display: flex;
}

.content {
    flex: 9;
}

.emptyMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 16pt;
    font-family: "Lora", sans-serif;
    color: rgba(49, 49, 49, 0.87);
}